# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                                @patrick-stephens @stevehipwell

/charts/fluent-bit/              @stevehipwell @patrick-stephens @edsiper @naseemkullah
/charts/fluent-bit-aggregator/   @stevehipwell @patrick-stephens
/charts/fluent-bit-collector/    @stevehipwell @patrick-stephens
/charts/fluent-operator/         @benjaminhuo @wanjunlei @wenchajun @marcofranssen @joshuabaird

/.github/workflows/              @patrick-stephens @stevehipwell
