# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                       @dor-levi
/charts/fluentd/        @dor-levi
/.github/workflows/     @dor-levi
