TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: helm-charts
  title: wepull/helm-charts
  owner: wepull
  default_branch: main
  id: 518423118
TF_Branch: main
TF_Git_path: /
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Vipul Choudhary
lastUpdatedOn: 2022-08-05T05:03:20.249Z
