{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "fluent-bit-aggregator.fullname" . }}
  namespace: {{ include "fluent-bit-aggregator.namespace" . }}
  labels:
    {{- include "fluent-bit-aggregator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
    verbs:
      - get
      - list
      - watch
{{- with .Values.rbac.additionalRules }}
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
