name: Validate PR

on:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      changed: ${{ steps.changed.outputs.any_changed }}
      k8s_versions: ${{ steps.setup.outputs.k8s_versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2

      - name: Chart changes
        id: changed
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: charts/**

      - name: Setup
        id: setup
        run: |
          set -euo pipefail

          k8s_versions="$(curl -s https://endoflife.date/api/kubernetes.json | jq -r '[sort_by(.releaseDate) | reverse | .[0:4] | "\(.[].cycle).0"] | join(",")')"
          echo "k8s_versions=${k8s_versions}" >> "${GITHUB_OUTPUT}"

  validate:
    name: Validate Helm charts
    runs-on: ubuntu-latest

    needs: [setup]

    permissions:
      contents: read
      id-token: write
      pull-requests: write

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          token: ${{ github.token }}
          python-version: "3.x"

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: latest

      - name: Install chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Check for changes
        id: changes
        run: |
          set -euo pipefail
          changed="$(ct list-changed --target-branch=main --chart-dirs=charts --excluded-charts="")"
          if [[ -n "${changed}" ]]
          then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
            echo "charts=$(echo "${changed}" | tr '\n' ',' | rev | cut -c 2- | rev | jq -Rrc '[split(",") | .[] | split("/") | .[1]] | join(",")')" >> "${GITHUB_OUTPUT}"
          else
            echo "changed=false" >> "${GITHUB_OUTPUT}"
            echo "charts=" >> "${GITHUB_OUTPUT}"
          fi

      - name: Install Helm Docs
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ steps.changes.outputs.changed == 'true' }}
        with:
          github_token: ${{ github.token }}
          owner: norwoodj
          repository: helm-docs
          arch_amd64: x86_64
          os_linux: Linux
          check_command: helm-docs --version
          version: latest

      - name: Run Helm Docs check
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: |
          set -euo pipefail

          helm-docs --skip-version-footer
          if [[ -n "$(git status --porcelain --untracked-files=no)" ]]
          then
            echo "Documentation not up to date; please run helm-docs and commit changes!" >&2
            exit 1
          fi

      - name: Install YQ
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ steps.changes.outputs.changed == 'true' }}
        with:
          github_token: ${{ github.token }}
          owner: mikefarah
          repository: yq
          extract: false
          filename_format: "{name}_{os}_{arch}"
          check_command: yq --version
          version: latest

      - name: Install MDQ
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ steps.changes.outputs.changed == 'true' }}
        with:
          github_token: ${{ github.token }}
          owner: yshavit
          repository: mdq
          arch_amd64: x64
          filename_format: "{name}-{os}-{arch}.{ext}"
          check_command: mdq --version
          version: latest

      - name: Run CHANGELOG check
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: |
          set -euo pipefail

          charts="${{ steps.changes.outputs.charts }}"
          for chart in ${charts//,/ }
          do
            chart_file_path="./charts/${chart}/Chart.yaml"
            changelog_file_path="./charts/${chart}/CHANGELOG.md"
            version="$(yq eval '.version' "${chart_file_path}")"
            entry="$(mdq --no-br --link-format inline "# v${version}" <"${changelog_file_path}" || true)"
            if [[ -z "${entry}" ]]
            then
              echo "No CHANGELOG entry for ${chart} version ${version}!" >&2
              exit 1
            fi

            added="$(mdq --output plain "# v${version} | # Added | -" <"${changelog_file_path}" || true)"
            changed="$(mdq --output plain "# v${version} | # Changed | -" <"${changelog_file_path}" || true)"
            deprecated="$(mdq --output plain "# v${version} | # Deprecated | -" <"${changelog_file_path}" || true)"
            removed="$(mdq --output plain "# v${version} | # Removed | -" <"${changelog_file_path}" || true)"
            fixed="$(mdq --output plain "# v${version} | # Fixed | -" <"${changelog_file_path}" || true)"
            security="$(mdq --output plain "# v${version} | # Security | -" <"${changelog_file_path}" || true)"

            changes_path="./charts/${chart}/changes.txt"
            rm -f "${changes_path}"

            old_ifs="${IFS}"
            IFS=$'\n'

            for item in ${added}; do
              printf -- '- kind: added\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${changed}; do
              printf -- '- kind: changed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${deprecated}; do
              printf -- '- kind: deprecated\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${removed}; do
              printf -- '- kind: removed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${fixed}; do
              printf -- '- kind: fixed\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            for item in ${security}; do
              printf -- '- kind: security\n  description: "%s"\n' "${item%.*}." >> "${changes_path}"
            done

            IFS="${old_ifs}"

            if [[ -f "${changes_path}" ]]; then
              echo "::group::Changes"
              cat "${changes_path}"
              echo "::endgroup::"

              changes="$(cat "${changes_path}")" yq eval --inplace '.annotations["artifacthub.io/changes"] |= strenv(changes)' "${chart_file_path}"
              rm -f "${changes_path}"
            fi
          done

      - name: Install Artifact Hub CLI
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ steps.changes.outputs.changed == 'true' }}
        with:
          github_token: ${{ github.token }}
          owner: artifacthub
          repository: hub
          name: ah
          check_command: ah version
          version: latest

      - name: Run Artifact Hub lint
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: ah lint --kind helm || exit 1

      - name: Run chart-testing lint
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: ct lint --target-branch=main --chart-dirs=charts --excluded-charts='' --check-version-increment=false --chart-repos=""

      - name: Install Kubeconform
        uses: action-stars/install-tool-from-github-release@1fa61c3bea52eca3bcdb1f5c961a3b113fe7fa54 # v0.2.6
        if: ${{ steps.changes.outputs.changed == 'true' }}
        with:
          github_token: ${{ github.token }}
          owner: yannh
          repository: kubeconform
          filename_format: "{name}-{os}-{arch}.{ext}"
          check_command: kubeconform -v
          version: latest

      - name: Run Kubeconform
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: |
          set -euo pipefail

          charts="${{ steps.changes.outputs.charts }}"
          for chart in ${charts//,/ } ; do
            if [[ "${chart}" == *-crds ]]; then
              echo "Skipping kubeconform for CRDs chart: ${chart}"
              continue
            fi

            values="./charts/${chart}/ci/kubeconform.yaml"
            if [[ ! -f "${values}" ]]
            then
              values="./charts/${chart}/test-values.yaml"
              touch "${values}"
            fi

            k8s_version_stable="$(curl -sL https://dl.k8s.io/release/stable.txt | grep -Eo '[0-9]+\.[0-9]+').0"
            k8s_versions_in="${K8S_VERSIONS}"
            k8s_versions="${k8s_versions_in:-$k8s_version_stable}"
            for k8s_version in ${k8s_versions//,/ } ; do
              echo "Chart: ${chart}, K8s: ${k8s_version}"
              helm template --kube-version "${k8s_version}" "./charts/${chart}" --values "${values}" | kubeconform --kubernetes-version "${k8s_version}" --schema-location default --schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json' --strict --summary
            done
          done
        env:
          K8S_VERSIONS: ${{ needs.setup.outputs.k8s_versions }}

      - name: Create Kind cluster
        if: ${{ steps.changes.outputs.changed == 'true' }}
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Run chart-testing install
        if: ${{ steps.changes.outputs.changed == 'true' }}
        run: ct install --target-branch=main --chart-dirs=charts --excluded-charts='' --helm-extra-args='--timeout 600s'

  check:
    name: Check
    needs: validate
    if: always()
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check
        env:
          INPUT_RESULTS: ${{ join(needs.*.result, ' ') }}
        run: |
          set -euo pipefail
          read -a results <<< "${INPUT_RESULTS}"
          for result in "${results[@]}"; do
            if [[ "${result}" == "failure" ]] || [[ "${result}" == "cancelled" ]]; then
              echo "::error::Workflow failed!"
              exit 1
            fi
          done
